<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Parça Oluştur</title>
</head>
<style>
    input[type="text"],
  input[type="number"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  input[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  button[type="submit"]:hover {
    background-color: #45a049;
  }
</style>

<body>
    <h1>Yeni Parça Oluştur</h1>
    <form method="post">
        {% csrf_token %}
        <label for="part_type">Parça Türü:</label>
        <input type="text" id="part_type" name="part_type">
        <label for="aircraft_id">Uçak ID:</label>
        <input type="text" id="aircraft_id" name="aircraft_id">
        <button type="submit">Oluştur</button>
    </form>
</body>
</html>